@import "tailwindcss";

/* =========================
   Design Tokens (Color System)
   ========================= */

@theme {
  /* === font === */
  --font-sans: var(--font-sans), system-ui, sans-serif;
  /* === Base UI === */
  --primary: #3182F7;
  --font-color: #171717;
  --font-sub-color: #525252;
  --font-point-color: #C9C9C9;
  --button-color: #3182F7;
  --button-sub-color: #F5F5F5;
  --border-color: #3182F7;
  --bg-color: #F5F5F5;
  /* === ProgressBar UI === */
  --progress-bg: #E5E5E5;
  --progress-fill: #3182F7;
  /* === onboarding === */
  --onboarding-font-color: #262626;
  --onboarding-font-sub-color: #404040;
  --pain-icon-color: #A3A3A3;
}



/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */


body {

}

button {
  cursor: pointer;
}
