@import "tailwindcss";

/* =========================
   Design Tokens (Color System)
   ========================= */

@theme {
  /* === font === */
  --font-sans: var(--font-sans), system-ui, sans-serif;
  /* === Base UI === */
  --primary: #3182F7;
  --font-color: #171717;
  --font-color2: #404040;
  --font-color3: #a3a3a3;
  --font-sub-color: #525252;
  --font-sub-color2: #757575;
  --font-point-color: #c9c9c9;
  --button-sub-color: #f5f5f5;
  --bg-color: #F5F5F5;
  /* === ProgressBar UI === */
  --progress-bg: #E5E5E5;
  --progress-fill: #3182F7;
  /* === onboarding === */
  --onboarding-font-color: #262626;
  --onboarding-font-sub-color: #404040;
  --pain-icon-color: #a3a3a3;
}

button {
  cursor: pointer;
}
